<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
                                <p class="pull-right visible-xs">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                                </p>
                                <div class="row" >  
                                    <div class="col-xs-9 col-sm-9">        
                                        <div id="vid" class="col-xs-5 col-sm-5">
                                            <div >
                                       
                                             <textarea style="min-width:300px; min-height:300px color:black;" placeholder="Edit your annotations here" 
                                                        ng-module="text"></textarea>                
                                            </div>
                                            <input type="text" placeholder="Enter annotation duration" ng-model = "text">
                                            <div ng-model="dateCreated"> datum </div>
                                                <button type="button" class="btn btn-default col-xs-2" ng-click="saveAnnotation(text, tag[], )" >Save</button>
                                                <button type="button" class="btn btn-default col-xs-2">Delete</button>
                                    
                                        </div>
                                        <div class="col-xs-4 col-sm-4" id="sidebar"
                                                style="display:block;" >
                                                   
                                            <div>
                                                <button type="button" ng-repeat="tag in currentAnnotations.tags">{{tag}}</button>
                                            </div>
                            <!-- 0vdje se zavrsava DIV u koji se unsoi angularjs -->
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3"></div>
                                    </div><!--/.sidebar-offcanvas--> 
    </div><!--/.col-xs-12.col-sm-9-->
</div><!--/row-->