<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
        <div class="row" >		  
			 <div id="vid" class="col-xs-4 col-sm-4">
			     <div style="padding:10px; border:solid; border-color:#F8F8F8; height:450px;">
				   
				 <input type="Text"></input>
				 </div>
				 <div id="vrijemekreiranja"></div>
				 <div id="vrijemeuvideu"></div>
				 <button style="margin:20px; border-radius:0px" type="button" class="btn btn-default col-xs-2">OK</button>
				 <button style="margin:20px; border-radius:0px" type="button" class="btn btn-default col-xs-2">Edit</button>
				 <button style="margin:20px; border-radius:0px" type="button" class="btn btn-default col-xs-2">Delete</button>
				
			 </div>
			 <div class="col-xs-3 col-sm-3" id="sidebar"
			  style=" height:10px;display:block;" >
							   
				<video controls style="width:100%">
				<source src="{{currentVideo.path}}" type="video/mp4">
				<source src="{{currentVideo.path}}" type="video/ogg">
				Your browser does not support the video tag.
				</video>
			 
				   <div style="font-size:40px; padding:0">
					  {{currentVideo.title}}
				   </div>
					<button style="float:right; margin-top:5px; border-radius:0px" type="button" class="btn btn-default col-xs-1">next</button>
				   <div style="float:right; width:25px; height:1px"></div>
				    <button style="float:right; margin-top:5px; border-radius:0px " type="button" class="btn btn-default col-xs-1 ">prev</button>
				
			       <br>
			<!-- 0vdje pocinje DIV u koji se unsoi angularjs -->
            <div>
             <p> {{currentVideo.author}}
             </p>
            </div>
            <div>
             <p> {{currentVideo.description}}
             </p>
            </div>
			<div>
             <button style="margin:10px; border-radius:0px" type="button" class="btn btn-default col-xs-1">tag1</button>
			 <button style="margin:10px; border-radius:0px " type="button" class="btn btn-default col-xs-1 ">tag2</button>
            </div>
        <!-- 0vdje se zavrsava DIV u koji se unsoi angularjs -->
		  </div>
		  <div class="col-xs-5 col-sm-5"></div>
		</div><!--/.sidebar-offcanvas-->
    
    </div><!--/row-->
 </div><!--/.col-xs-12.col-sm-9-->