<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="mmn.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Video Gallery</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  
  <body>
      
    <div class="container">
        <div class="container">
            <div class="row">
		<div class="col-sm-12">
                    <h2>Video player</h2>  
                    <div class="angular">
                        <div class="row">
                            <div class="col-xs-6 col-lg-3" ng-repeat="vid in vidList | limitTo:4">
                                <a href="#/video/{{vidList[$index]._id}}"><div class="btn btn-default" style="margin-bottom:30px; width:100%"  >
                                    <h3> {{vid.title}} </h3>
                                    <p> {{vid.author}} </p>
                                    <p> {{vid.duration}} </p>
                                </div></a>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-xs-6 col-lg-3" ng-repeat="vid in getVidList() | limitTo:4">
                                <div class="btn btn-default" style="margin-bottom:30px; width:100%" ng-click="goToView2($index+4)" >
                                    <h3> {{vid.title}} </h3>
                                    <p> {{vid.author}} </p>
                                    <p> {{vid.duration}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
           
                </div><!--/row-->

                <hr>
            </div>
        </div>
    </div><!--/.container-->
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>
