
<div class="container">
    <div class="container">
        <div class="row">
	        <div class="col-sm-12">
                <h2>Video player</h2>  
                <div class="angular">

                    <div class="row">
                        <div class="col-xs-6 col-lg-3 " ng-repeat="vid in vidList">
                            <a href="#/video/{{vid._id}}"><div class="btn btn-default homevideo">
                                <h3> {{vid.title}}</h3>
                                <p> {{vid.author}} </p>
                                <p> {{vid.duration}} </p>
                            </div></a>
                        </div>
                    </div>
                        
                </div>
            </div><!--/row-->
            <hr>
        </div>
    </div>
</div><!--/.container-->
