<from>
	User name:<input  type="text"  ng-model="user.name"></input> <br />
	Email:<input  type="email"  ng-model="user.email"></input> <br />
	Gender: <input type="radio" ng-model="user.gender" value="male" />male
			<input type="radio" ng-model="user.gender" value="female" />female<br />
	Password:<input  type="password"  ng-model="user.pass"></input> <br />
	Re-enter password:<input  type="password"  ng-model="user.passConfirm"></input> <br />
	<button ng-click="signUp()">Sign up</button><br />
	<span style="color:red" ng-show="error">Content in the marked boxes is invalid. Fix it!</span>
</from>
