<div class="row">
	<div style="border-style: solid; border:10px" id="listaVidea" class="col-sm-9 ">
		<form novalidate class="simple-form">
			Name: <input type="text" ng-model="user.name" /><br />
			E-mail: <input type="email" ng-model="user.email" /><br />
			Gender: <input type="radio" ng-model="user.gender" value="male" />male
			<input type="radio" ng-model="user.gender" value="female" />female<br />
			
			Password: <input type="text" ng-model="user.name" /><br />
			Re-enter password: <input type="text" ng-model="user.name" /><br />
			<input type="submit" ng-click="update(user)" value="Save" />
		</form>
	</div>
</div>

