<div class="row">
	<div style="border-style: solid; border:10px" id="listaVidea" class="col-sm-9 ">
		<table class="table table-bordered">
			<thead>
			  <tr>
				<th ng-click="naziv()">
					<a href="" ng-click="order('title')">Naziv videa</a>
					<span  ng-show="predicate === 'title'"></span>
				</th>
				<th>
					<a href="" ng-click="order('author')">Autor</a>
					<span  ng-show="predicate === 'author'"></span>
				</th>
				<th>
					<a href="" ng-click="order('duration')">Trajanje</a>
					<span  ng-show="predicate === 'duration'"></span>
				</th>
				<th>
					<a href="" ng-click="order('countView')">Broj pregleda</a>
					<span  ng-show="predicate === 'countView'"></span>
				</th>
				<th>
					<a href="" ng-click="order('lastViewDate')">Datum zadnjeg gledanja</a>
					<span  ng-show="predicate === 'lastViewDate'"></span>
				</th>
				<th>
					<a href="" ng-click="order('numberOfAnnotation')">Broj anotacija</a>
					<span  ng-show="predicate === 'numberOfAnnotation'"></span>
				</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-click="getStatistics(dataT)" ng-repeat="dataT in tableData | orderBy:predicate:reverse " >
					<td>{{dataT.title}}</td>
					<td>{{dataT.author}}</td>
					<td>{{dataT.duration }}</td>
					<td>{{dataT.countView}}</td>
					<td>{{dataT.lastViewDate | date:'dd-MM-yyyy'}}</td>
					<td>{{dataT.numberOfAnnotation}}</td>	
				</tr>
			</tbody>
		</table>
		
		<!--<div  class="btn btn-default col-xs-12" ng-click="getStatistics(sVid)">
			<h3 style="overflow:hidden"> {{sVid.title}}</h3>
			<p> {{sVid.author}} </p>
			<p> {{sVid.duration}} </p>
		</div> -->	
	</div>
	<div id="statistika" class="col-sm-3  ">
		<h4>Naziv videa: {{stat.title}}</h4>
		<h4>Broj pregleda: {{stat.countView}}</h4>
		<h4>Datum zadnjeg gledanja: {{stat.lastViewDate | date:'dd-MM-yyyy'}}</h4>
		<h4>Broj anotacija: {{stat.numberOfAnnotation}}</h4>
		<h3>Ukupan broj pregleda: {{totalViews}}</h3>
	</div>
</div>

