<div class="container-fluid">
  	<div class="row">
    	<div class="col-sm-8">

    		<div style="z-index:10000000; position:absolute">
				<div class="col-xs-6 col-lg-3" ng-repeat="anno in liveAnno">
                    <div class="btn btn-default" style="margin-bottom:30px; width:100%; background: rgba(204, 204, 204, 0.3)"  >
                        <p> {{anno.text}} </p>
                    </div>
                </div>
			</div>

	    	<video id="videoDOM" ng-src="{{video.path}}" controls="controls" style="width:100%"></video>	
				
				<div class="col-sm-8 col-xs-8"> 
	    			<div style="font-weight: bold;"> {{video.title}} </div>
					
					<!-- <div> {{video.author}} </div> 
					<div class="video-description ng-hide" ng-show="!showAnno">
					{{video.description}}
					
					</div> -->
	   		 	</div>
	   			<div class="col-sm-4 col-xs-4">
					<div style="float:right">
						<a><div class="glyphicon glyphicon-plus" id="add-annotation" ng-click="createNewAnnotation()">
						</div></a>
				
					<a><div id="prev" class="glyphicon glyphicon-chevron-left" ng-click="prevVideo()">
					</div></a>
					<a><div  id="next" class="glyphicon glyphicon-chevron-right" ng-click="nextVideo()">
					</div></a>
				 </div>
				</div>
				
				<div class="col-sm-12 col-xs-12 bggg"> 
								 
	    		<div id="anno-edit" class="ng-hide col-lg-12 col-sm-12" ng-show="showAnno">
						<div class="col-lg-6 col-sm-6">
						<!--<textarea id="anno-edit-left" cols="40" rows="10" maxlength="50"></textarea>-->
						<div class="form-group">
							<textarea  id="anno-edit-left" class="form-control" rows="5" id="comment" placeholder="Enter your annotation here..."></textarea>
							</div>
					
						<div id="anno-edit-right">
						<div id="time-input">
						<!--<input type="range" min="0" max="15" value="3" step="1" onchange="rangevalue.value=value" />
						<output id="rangevalue">selektovani broj sekudni </output>-->
							<input id="time-start" type="text" > &nbsp; Duration:</input>
							<input id="time-end" type="text">to:</input>
							</div>
						</div>
						</div>
						<div class="col-lg-6 col-sm-6">
						
							<ul id="tags">
								<li ng-repeat="t in tags">
									<button class="tag-list btn btn-default" ng-click="switchTag($index)">{{t.name}}</button>
								</li>
							</ul>
							<input style="float:right" class="btn btn-default" id="edit-anno-buttons" type="submit" value="Save" ng-click="saveAnnotation()"></input>
						</div>
				</div>
				</div> <!-- kraj dvaneske -->
				<div class="col-sm-12 col-xs-12 bggg"> 
				
				<div class="col-xs-12 col-lg-12">
				<div class="col-xs-3 col-lg-3">
				        <button class="btn btn-default btn-block" id="anno-view" ng-click="showDescription=true; changeBackground(true)">Annotations</button>
				    </div>
				    <div class="col-xs-3 col-lg-3">
				        <button class="btn btn-default btn-block" id="vid-view"   ng-click="showDescription=false;showAnno=false; changeBackground(false)">Description</button>
				    </div>
                    
						</div>


				    <div class="ng-hide" ng-show="showDescription">
				    	<div class="col-xs-6 col-lg-6" ng-repeat="anno in video.annotations">
				        	<div class="btn btn-default btn-block" ng-click="loadAnnotation(anno)">
				            	
								<h4>Ann Time<!--Automaticly ann time--></h4>
				                <p>{{anno.text}}<!--Part of annotion description text--></p>
				                <button id="edit-anno" ng-click="editAnnotation(anno)">
							<p class="glyphicon glyphicon-pencil"></p>
							
							</button>
				        	<button id="delete-annotation" ng-click="deleteAnnotation(anno)">
				        		<p class=" glyphicon glyphicon-remove"></p>
				        	</button>
				      
							</div>
				    	</div>
				    </div>
				    <div  class="ng-hide " ng-show="!showDescription">
				        <!-- 0vdje pocinje paragraf u koji se unsoi angularjs zza listu-->
							<div class="col-xs-12 video-description ng-hide" ng-show="!showAnno">
								<p> autor: {{video.author}} </p> 
								<p> description: {{video.description}} </p>
							  </div>
							
				    </div>	
				</div>
				
	    </div>
	  	<div class="col-sm-4">
	  		<div class="col-sm-12 all-zero">	
				    <div class="col-xs-6">
				        <button class="btn btn-default btn-block" id="all-anno-view" ng-click="showListStatus=true; loadAllAnnotations();changeBackground2(true)">All My Annotations</button>
				    </div>
				    <div class="col-xs-6">
				        <button class="btn btn-default btn-block" id="all-vid-view"   ng-click="showListStatus=false;showAnno=false; changeBackground2(false)">Videos</button>
				    </div>



				<div class="col-xs-12"> <ul id="tags">
<!-- OVDJE JE LISTA TAGOVA SA CEKBOXOM -->
								
								<form role="form">
									<div class="checkbox">
									<span ng-repeat="t in tags">
										<label ng-if="!t.boxValue">
											
											<input type="checkbox" />
												{{t.name}}
										</label>

										<label ng-if="t.boxValue">
											<input ng-if="t.boxValue" type="checkbox" checked />
												{{t.name}}
										</label>
									</span>
									</div>
								</form><!-- OVDJE JE LISTA TAGOVA SA CEKBOXOM -->
				</div>
				    <div class="ng-hide" ng-show="showListStatus">
				    	<div class="col-xs-12" ng-repeat="anno in allAnnotations">
				        	<div class="btn btn-default btn-block" ng-click="goToVidAnno(anno)">
				            	<h4>Ann Time<!--Automaticly ann time--></h4>
				                <p>{{anno.text}}<!--Part of annotion description text--></p>
				                <button id="edit-anno" ng-click="editAnnotation(anno)">
							<p class="glyphicon glyphicon-pencil"></p>
							
							</button>
				        	<button id="delete-annotation" ng-click="deleteAnnotation(anno)">
				        		<p class=" glyphicon glyphicon-remove"></p>
				        	</button>
				        	</div>	
				    	</div>
				    </div>
				    <div  class="ng-hide " ng-show="!showListStatus">
				        <!-- 0vdje pocinje paragraf u koji se unsoi angularjs zza listu-->
						<div class="col-xs-12" ng-repeat="myVideo in vidList">
						<div class="btn btn-default btn-block">
							<a href="#/video/{{myVideo._id}}">
							<div>
							  <h3>{{myVideo.title}}</h3>
							  <p>{{myVideo.author}}</p>
							  <p>{{myVideo.duration}} </p>
							  </div>
							</a>
						</div>
						</div>
				    </div>	
				  </div>		
  	</div>
</div>