

.contentz-animate {
  padding:10px;
}

.contentz-animate.ng-enter, .contentz-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.contentz-animate.ng-enter {
  left:0;
}
.contentz-animate.ng-enter.ng-enter-active {
  left:100%;
}
.contentz-animate.ng-leave.ng-leave-active {
  left:-100%;
}