body {
	background-color: #111;
}

.inline-block li {
	display: inline-block;
}

.nav-color {
	background-color: black;
}

nav {
	text-align: center;
}

nav img {
	margin: 0 auto 0 auto;
	height: 50px;
	width: 80px;
}

.navbar {
	border-bottom: 0px;
	border-radius: 0px;
}

footer {
	width: 100%;
	height: auto;
	margin: -10px 0 0 0;
	text-align: center;
	background-color: black;
	position: fixed;
	bottom: 0;
	left: 0;

}

footer img {
	width: 250px;
	height: 50px;
}

video {
	background-color: black;
	background-image: url(images/bgss.jpg);
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	top: 0;
	left: 0;
}

.bgvid {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: white;
}

.contentz {

	padding-top: 80px;
	min-height: 100%;
	z-index: 1000;
	color: white;
	text-align: left;
	padding: 50px;
}

.col-sm-12 {
	margin-top: 5%;
	padding: 5% 10%;
}

.col-sm-4 {
	padding: 2%;

}

.col-sm-4 ul {
	list-style:none;
}

.shadowz {
	padding: 5px 0; 
	background-color: rgba(255, 255, 255, 0.07);
}

.shadowz a {
	color: white;
}

.shadowz a:hover {
	color: #90CC21;
}

.glyphicon {
	font-size: 20px;
}