body {
	background-color: white;
}

.inline-block li {
	display: inline-block;
}

.nav-custom {
	background-color: black;
}

nav img {
	
	height: 50px;
	width: 80px;
	float:left;
	margin-left:50px;
}

.navbar {
	border-bottom: 0px;
	border-radius: 0px;
}

footer {
	width: 100%;
	height: auto;
	background-color: black;
	position: fixed;
	bottom: 0;
	left: 0;

}

footer img {
	width: 250px;
	height: 50px;
	margin:0 auto;
}

video {
	background-color: black;
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	top: 0;
	left: 0;
}
/*
.bgvid {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: red;
}*/

.shadowz {
	width:100%;
	padding: 5px 0; 
	background-color: #E5E4E2;
	border-top:5px solid #F75D59;
}

.shadowz ul {
	list-style:none;
}

.shadowz a {
	color: black;
}

.shadowz a:hover {
	color: #F75D59;
}

.shadowz {
	margin-top: 20px;
}

.glyphicon {
	font-size: 20px;
	color: black;
}

.florigth {
float:right;}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  background: #cd2f00;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cd2f00;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
  background: #cd2f00;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cd2f00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #cd2f00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 0px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cd2f00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cd2f00;
}

#tags li {
display:inline;
}

#anno-edit {
background-color:#DADADA;
padding:10px 0;}

.bggg {
background-color:white;
border-bottom:5px solid #F75D59;}

.backg {
background-color: #E5E4E2;
}

.annolive{
border: 1px solid red;
color:white;
background-color:rgba(255,0,0,0.3);
overflow:hidden;
width:100%;
}
 
.wordbr{
word-wrap: break-word;
width:100%;
}
.btn-xcolor {
background-color:#F75D59;
}

.btn {
border-radius:0;}

.edit-window{
background-color: #E5E4E2;
margin:10px 0;}

.blackcolor {
margin:5px;}

.blackcolor a {
color:black}
