body {
 margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

	.crnifuter{
			background-color: black;
			position: relative; 
			bottom: 0; 
			left:0;
			overflow:auto;
			height:auto;
		
		}

	@media (max-width: 1000px){
  		left-side{
		    position:relative;
			width:98%;
			height:auto;
			top:0;
			left:0;
			margin-left:1%;
			margin-right:1%;
 		}
 		right-side{
		    position:relative;
			width:98%;
			height:auto;
			margin-left:1%;
			margin-right:1%;
 		}
	}
	.left-side{
		position:absolute;
		width:57%;
		height:100%;
		top:0;
		left:0;
		margin-left:2%;
	}
	.video-elements{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
	.video-info-buttons-box{
		position:relative;
		width:100%;
	}
	.video-info{
		position:relative;
		width:70%;
	}
	.video-buttons{
		position:absolute;
		width:30%;
		right:0;
		top:0;
	}
	#next{
		position:absolute;
		width:80%;
		top:0;
		right:0;
	}
	#prev{
		position:absolute;
		width:55%;
		top:0;
		right:0;
	}

	.right-side{
		position:absolute;
		width:38%;
		height:100%;
		top:0;
		right:0;
		margin-right:2%;
		margin-left:1%;
	}
	.vid-anno-switch{
		position:absolute;
		width:100%;
		height:5%;
		top:0;
		right:0;
	}
	#anno-view{
		position:absolute;
		left:0;
		top:0;
		width:50%;
		height:100%;
		background-color:#e65454;
		color: white;
		border: 0px;
		border-right: 2px solid white;
		font-weight: bold;
	}
	#vid-view{
		position:absolute;
		right:0;
		top:0;
		width:50%;
		height:100%;
		background-color:#e65454;
		color: white;
		border-style: none;
		font-weight: bold;
	}
	#add-annotation{
		position:absolute;
		width:35%;
		top:0;
		left:0;
		font-size:35px;
	}
	.list-container{
		position:absolute;
		width:100%;
		height:95%;
		bottom:0;
		right:0;
		overflow:auto;
	}
	.list{
		position:absolute;
		width:100%;
		height:100%;
		bottom:0;
		right:0;
	}
	#edit-anno{
		position:absolute;
		bottom:0;
		right:0;
		width:10%;
		height:20%;
	}
	.annotation{
		width:100%;
		height:100%;
		border-bottom: 2px solid #e65454;
		border-radius: 0px;
	}
	.videos{
		width:100%;
		border-bottom: 2px solid #e65454;
		border-radius: 0px;
		min-height: auto;
		line-height: 10px;
	}
	.videos a {
	color: black;
	text-decoration:none;
	}
	
	#dugmici-left{
		position:absolute;
		top:0;
		left:0;
		width:60%;
		height:100%;
	}
	#dugmici-right{
		position:absolute;
		top:0;
		right:0;
		width:40%;
		height:100%;
	}
	.list-element{
		position:relative;
		width:100%;
		height:15%;
		
	}
	.video-description{
		position:relative;
		bottom=0;
		left=0;
		width:100%;
	}
	#delete-annotation{
		position:absolute;
		top:0;
		right:0;
		background-color: inherit;
		border-style:none;
	}
	#anno-edit{
		position:relative;
		bottom:0;
		left:0;
		margin-top:30px;
		
		/*margin-left:60%;*/
		width:100%;
		min-height:250px;
	}
	#anno-edit-left{
		position:absolute;
		top:0;
		left:0;
		width:60%;
		height:100%;
		resize:none;
	}
	#anno-edit-right{
		position:absolute;
		top:0;
		right:0;
		width:40%;
		height:100%;
	}
	#tags{
		position:relative;
		top:0;
		right:0;
		width:100%;
		height:80%;
	}
	ul#tags li{
		display:inline;
	}
	#edit-anno-buttons{
		position:absolute;
		bottom:0;
		right:0;
		width:85%;
		height:20%;
	}
	#time-input{
		position:relative;
		height:20%;
	}
	
	.editz{
		min-height:25px;
		border-style:none;
		background:inherit;
		
	}
	.btnnav {
    border-radius: 0px;
	border-style:none;
	min-height:20px;
	background-color:inherit;
	font-size:35px;
}
.btnadd {
    border-radius: 0px;
	border-style:none;
	min-height:25px;
	background-color:inherit;
	font-size:17px;
	}
.navcss{
    background-color: black;
    width: auto; 
    line-height: 60px;
    padding: 5px;
}

.navcss img {
    margin: 0;
    width:70px; 
    height: 50px;
    background-color: black;
    float:left;
}

.sarma {
height:100px;
width:auto;
}